<template>
  <button
    class="skill-button"
    :class="{ pressed: pressed }"
    @click="handleClick($event, skill)"
  >
    <span>
      {{ skill }}
      <i class="icon" :class="getStrengthCass()"></i>
    </span>
  </button>
</template>,

<script>
export default {
  data() {
    return {
      pressed: false,
    };
  },
  emits: ["filter-click"],
  props: ["skill", "skillInfo"],
  methods: {
    handleClick($event, skill) {
      this.pressed = !this.pressed;
      this.$emit("filter-click", $event, skill, this.pressed);
    },

    getStrengthCass() {
      if (this.skill.toLowerCase().includes('VueJs')) {
        return "icon-junior";
      }
      if (this.skillInfo.skillWorkingMonths > 36) {
        return "icon-senior";
      } else if (this.skillInfo.skillWorkingMonths > 12) {
        return "icon-junior";
      } else {
        return "icon-minior";
      }
    },
  },
};
</script>

<style>
.skill-button {
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 15px 30px 15px 15px;
  margin: 8px 8px 0 0;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
  position: relative;
  background-color: #6d6d76;
  color: #fff;
  transition: fill, 0.3s;
}

.skill-button:hover {
  background-color: #ececff;
  color: #343541;
}
.pressed {
  background-color: #dfdfea;
  color: #343541;
}
.icon {
    font-family: "mst dev portfolio";
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: -2px;
}
</style>