<template>
    <div class="main-section">
        <div class="anchor" id="projects"></div>
        Projekte({{ projects.length }})
    </div>
    <div v-for="(project,index) in projects" :key="index">
        <div class = 'project'  :class="{ 'bright': isProjectClassBright(index)}">
            <div class="project-name">{{ project.name }}</div>
            <div class="project-meta">
                <div class="duaration">{{ project.fromDate }} - {{ project.toDate }} </div>
                <div class="customer">{{ project.customer }} </div>
                <div class="role">{{ project.role }} </div>
            </div>
            <div class="description">{{ project.description }}</div>
            
            <div class="project-skills">
                <div class="project-skill" v-for="skill in getSkillsList(project)" :key="skill">
                    {{ skill }}
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'projects'
        ],
        methods: {
            isProjectClassBright(index) {
                if (index % 2 >0) {
                    return true;    
                } 
                
                return false;
            },

            getSkillsList(project) {
                var skillsObj = project.skills,
                    skillName = '',
                    skillsArr = [];

                skillsObj.forEach(function (skill) {
                    skillName = skill;
                    if (skill.name) {
                        skillName = skill.name;
                    }
                    skillsArr.push(skillName);
                });
                return skillsArr;
            }
        }
    }
</script>

<style>

.project {
    color: #e1dcdc;
    padding: 0px;
}

.bright {
    background-color: #3b3c49;
}


.project > .project-name {
    font-size: 25px;
    padding-top: 0%;
    margin: 15px 10px 15px 0px;
}

.project > .project-meta * {
    font-size: 20px;
    margin: 12px 0 12px 0;
}

.project > .description {
    font-size: 20px;
    margin: 50px 0 50px 0;
}

.project-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 2%;
}

.project-skills > .project-skill {
    font-family: Montserrat,sans-serif;
    font-size: 17px;
    padding: 2px 5px;
    margin: 3px 3px 0 0;
    border-radius: 0;
    background-color: #6d6d76;
}

</style>