<template>
  <div class="main-section">
    <div class="anchor" id="weiteres"></div>
    Weiteres {{ getSkillsList() }}
  </div>
  <div v-for="(topic, index) in topics" :key="index">
    <div class="other-info" :class="{ bright: isTableLineClassBright(index) }">
      <div class="other-info-name">{{ topic }}
        <div class="anchor" @id="topic"></div></div>
      <p v-html="others[topic]"></p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      topics: [
        "Ausbildung",
        "Hobby",
        "Kontakt",
        "Impressum",
      ]
    };
  },
  props: ["others"],
  methods: {
    isTableLineClassBright(index) {
      if (index % 2 > 0) {
        return false;
      }

      return true;
    },

    getSkillsList() {
      console.log(this.others);
    },
  },
};
</script>

<style>
.other-info {
  color: #e1dcdc;
  padding: 2px 0 20px 0;
}

.other-info > .other-info-name {
  font-size: 25px;
  padding-top: 0%;
  margin: 15px 0px 5px 0px;
}

.other-info li {
  list-style: none;
  padding: 15px 0 0px 0;
}

.impressum  {
    text-decoration: underline;
    padding: 0%;
    font-style: normal;
    font-size: 18px;
    color: azure;
}
</style>