<template>
    <div class="person">
        <div class="person-data">
            <div class="person-name">
                <div class="decoration"></div>
                {{person.name}}
             </div>
            <div class="person-motto">
                <i>{{person.motto}}</i>
            </div>
            <div class="bio">
                <div class="bio-item">
                    <div class="key">Geburt</div>
                    <div class="value">{{ person.others.Geburt }}</div>
                </div>
                <div class="bio-item">
                    <div class="key">Kinder</div>
                    <div class="value"> {{ generateKinderString(person.others.Kinder) }}</div>
                </div>
                <div class="bio-item">
                    <div class="key">Sprachen</div>    
                    <div class="value"> {{ person.others.Sprachen }}</div>
                </div>
            </div>
        </div>
        <div class="preson-foto">
            <img class="profileImg" alt="Site logo" src="../assets/images/profil.png">
        </div>
    </div>
</template>

<script>


export default {
   props: ['person',
],
   methods: {
        generateKinderString(kinderObj) {
            var kinder = '',
                kinderCount = kinderObj.length,
                separator = kinderObj.length <= 2 ? ' und ' : ', ';
            
            for (var i=0; i < kinderObj.length; i++ ) {
                var age = Date.now() - new Date(kinderObj[i].birth);
                
                age = new Date().getFullYear() - (new Date(kinderObj[i].birth)).getFullYear() - 1;
                
                kinder += age
                if (i < ( kinderCount -1 )) {
                    kinder += separator;
                } 
            }
            return kinderCount + ' Kinder (' + kinder +')';
        }
   }
}
</script>

<style>
.person {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-left:  15%;
    padding-right:  15%;
    padding-top:  10%;
}

.person-data {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 1em;
    position: relative;

}

.person-data .person-name {
    font-size: 50px;
    font-family: "Sree Krushnadevaraya";
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 0.5em;
}


.person-data .person-motto {
    font-size: 19,14px;
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: Montserrat;;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 60px;
    line-height: 2;
    letter-spacing: 3px;
    margin-top: auto;
    padding-left: 0.5em;
}

.bio {
    padding-top: 6em;
    position:relative;
    bottom: 0;
    margin-top: 1em;
}

.bio .bio-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    font-size: 20px;
    margin: 2em 0 0 0;
}

.bio-item .key {
    align-self: left;
    margin-right: 1%;
}

.bio-item .value {
    align-self: right;
}

.person img {
    max-width: 400px;
    margin: 1em;
}

.person .person-foto {
    width: 400px;
    height: 350px;
    color: #fff;
    margin: 5em;
    padding: 5em;
}

.person-data .decoration {
    position: absolute;
    background-color: #63646d;
    opacity: .3;
    width: 195px;
    height: 195px;
    top: 0;
    left: -5px;
    z-index: 10;
}
</style>
