<template>
  <div class="nav">
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
    <a href="#weiteres">Weiteres</a>
    <a href="#Impressum">Impressum</a>
  </div>
</template>

<script>
export default {};
</script>

<style>
.nav {
  display: flex;
  justify-content: left;
  text-align: top;
  row-gap: 10px;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  background-color: grey;
  height: 2rem;
}

a {
  text-decoration: none;
  font-style: normal;
  font-size: 25px;
  color: azure;
  margin-left: 2rem;
}

</style>