<template>
  <div class="skill-info-box">
    <div>{{ skill }}</div>
    <div class="skill-info" >Projekte {{ skillInfo.experience }}</div>
    <div class="skill-info" >Monate: {{ skillInfo.skillWorkingMonths }}</div>
    <div class="skill-info">
      Zuletzt:
      {{
        skillInfo.lastSkillToDate.toLocaleDateString("en-US", {
          day: "numeric",
          month: "short",
          year: "numeric",
        })
      }}
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  emits: ["filter-click"],
  props: ["skill", "skillInfo"],
};
</script>

<style>
.skill-info-box {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 20px;
  margin: 8px 8px 0 0;
  background-color: #dcdce2;
  font-family: Montserrat,sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.skill-info {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: black;

}
</style>