.bio-item .key {
    font-size: large;
    align-self: left;
}

.bio-item .value {
    font-size: large;
    align-self: right;
}

.person-info div {
    border: 3px rgb(233, 224, 224) solid;
    justify-content: space-around;
    color: rgb(229, 235, 240);
}

.profileImg {
    width: 200px;
    height: 200px;
}

.column-right{ 
    flex: 1;
    order: 2;
}      
.column-center {
    flex: 1;
}
.column-left{ 
    flex: 1;
    order: 1;
 }

 /*<i class="icon icon-minior">
                    ::before
                </i>*/