<template>
  <div class="body black">
    <ResponsiveNav>Nav</ResponsiveNav>
    <div class="application">
      <PersonInfo :person="person" />
      <div class="middle">
        <PersonSkills
          v-bind:skillComputingObject="computedSkills"
          @filter-click="filterClick"
        />
        <div class="main-section">
          <div class="anchor" id="skillsSelected"></div>
          <div :style="{ visibility: visibilitySkills }">
            Selektierte Skills
          </div>
        </div>
        <div class="skill-info-container">
          <SkillInfoBox
            v-for="selSkill in selectedSkills"
            :key="selSkill"
            :skill="selSkill"
            :skillInfo="computedSkills[selSkill]"
          />
        </div>
        <PersonProjects :projects="projects" />
        <PersonOtherInfos :others="portfolio.others" />
      </div>
    </div>
  </div>
</template>

<script>
import ResponsiveNav from "./components/ResponsiveNavigation";
import PersonSkills from "./components/PersonSkills.vue";
import PersonInfo from "./components/PersonInfo.vue";
import PersonProjects from "./components/PersonProjects.vue";
import SkillInfoBox from "./components/SkillInfoBox.vue";
import portfolio from "./assets/portfolio.json";
import PersonOtherInfos from "./components/PersonOtherInfos.vue";

export default {
  name: "App",
  components: {
    PersonInfo,
    PersonSkills,
    PersonProjects,
    ResponsiveNav,
    SkillInfoBox,
    PersonOtherInfos,
  },
  data() {
    return {
      person: portfolio.person,
      computedSkills: [],
      projects: portfolio.projects,
      portfolio: portfolio,
      selectedSkills: [],
    };
  },
  methods: {
    filterClick(val, selectedSkills, buttonDeselected) {
      if (selectedSkills.length > 0) {
        if (buttonDeselected) {
          this.projects = this.portfolio.projects;
        }
        this.selectedSkills = selectedSkills;
        this.projects = this.projects.filter((project) => {
          var skillsMatching = true;
          for (let i = 0; i < selectedSkills.length && skillsMatching; i++) {
            let selSkill = selectedSkills[i];
            let skillMatch = this.findSkillInProject(selSkill, project);

            if (!skillMatch) {
              skillsMatching = false;
              break;
            }
          }
          return skillsMatching;
        });
      } else {
        this.selectedSkills = [];
        this.projects = this.portfolio.projects;
      }
    },

    findSkillInProject(targetSkill, project) {
      let skillMatch = false;
      for (let j = 0; j < project.skills.length && !skillMatch; j++) {
        let skill = project.skills[j];
        let skillSimple = typeof skill === "object" ? skill.name : skill;
        if (skillSimple === targetSkill) {
          skillMatch = true;
        }
      }
      return skillMatch;
    },

    findProjectsForSkill(skill) {
      var matchingProjects = [];
      this.projects.forEach((project) => {
        if (this.findSkillInProject(skill)) {
          matchingProjects.push(project);
        }
      });
    },
    dateDiff(fromDate, toDate, inYears) {        
        var diff;

        var d1Y = fromDate.getFullYear();
        var d1M = fromDate.getMonth();
        var d2Y = toDate.getFullYear();
        var d2M = toDate.getMonth();
      

        if (inYears) {
          diff = d2Y - d1Y;
        } else {
          diff = d2M + 12 * d2Y - (d1M + 12 * d1Y);
        }
        
      return diff;
    }
  },

  created: function() {
    let self = this;
    var skillName,
      skills,
      computedSkills = [];

    /*
     * Take an readonly array from input here, not the binded projects array.
     * Projects array will be trimmed but we need  always all the buttons.
     */
    this.portfolio.projects.forEach(function (project) {
      skills = project.skills;
      skills.forEach(function (skill) {
        var projectToDate = project.toDate === ''
            ? new Date()
            : new Date(project.toDate),
          computedSkill = {};

        skillName = skill;
        if (skill.name) {
          skillName = skill.name;
        }

        if (typeof computedSkills[skillName] === "undefined") {
          computedSkill = {};
          computedSkill.experience = 0;
          computedSkill.lastSkillToDate = projectToDate;
          computedSkill.skillWorkingMonths = 0;
          computedSkill.name = skillName;
          computedSkills[skillName] = computedSkill;
        } else {
          computedSkill = computedSkills[skillName];
        }

        computedSkill.experience += 1;
        if (projectToDate > computedSkill.lastSkillToDate) {
          computedSkill.lastSkillToDate = projectToDate;
        }
        var projectFromDate = new Date(project.fromDate);
        var dateDiff = self.dateDiff(projectFromDate, projectToDate);
        computedSkill.skillWorkingMonths += dateDiff;
      });
    });

    this.computedSkills = Object.fromEntries(
      Object.entries(computedSkills).sort(([, a], [, b]) => {
        var result = b.experience - a.experience;
        
        if (a.name === 'VueJs') {
          result = -1;
        } else if (b.name === 'VueJs') {
          result = 1;
        }
        
        return result;
      })
    );
  },

  computed: {
    visibilitySkills() {
      return this.selectedSkills.length > 0 ? "visible" : "hidden";
    },
  },
};
</script>
<style>
@import "./assets/styles/styles.css";
@import "./assets/fonts/mst-dev-portfolio.css";
</style>
