* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343541;
}

.middle {
    margin: 60px 0 30px;
    padding: 1%;
}

.main-section {
    color: #c9c9d3;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 40px 0;
}

.skill-info-container {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    flex-wrap: wrap;
}


.anchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}